body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/*Класс для бекграунд*/
.background-image {
  background: #ffffff url("../img/big_picture.jpg") top center no-repeat;
  background-size: 100%;
  padding-bottom: 64.4%;
}

.title-main {
  font-size: 21px;
  line-height: 1;
}

.title-secondary {
  font-size: 21px;
  line-height: 1.23;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.button-main {
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.button-main:hover,
.button-main:focus {
  background-color: #669ec0;
}

.button-main:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary {
  color: #ffffff;
  background-color: #766357;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #604e43;
}

.button-secondary:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.7);
}

.site-navigation,
.first-advantages-list,
.other-advantages-list,
.footer-social ul,
.filter ul,
.filter-results-list,
.sort-buttons,
.hotels-list {
  list-style: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 1.85;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

.current-page a{
  color: #766357;
}

.advantages h2 {
  text-align: center;
}

.reasons-head {
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
}

.about-advantage {
  color: white;
  background: #81b3d2 url("../img/city_photo.jpg") right no-repeat;
}

.about-second-advantage {
  color: white;
  background: #81b3d2 url("../img/canyon.jpg") left no-repeat;
  text-align: right;
}

.other-advantages {
  background-color: #efefef;
}

.finder h2 {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.finder-hint {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.find-form-item {
  font-size: 14px;
  line-height: 1.85;
  font-weight: 700;
}

.find-form-item input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.find-form-item input:hover {
  background-color: #ebebeb;
}

.find-form-item input:focus {
  background-color: #ffffff;
}

.button-minus,
.button-plus {
  font-weight: 700;
  color: #aaaaaa;
  background-color: #f2f2f2;
  border: none;
}

.button-minus:hover,
.button-minus:focus,
.button-plus:hover,
.button-plus:focus {
  color: #000000;
}

.button-minus:active,
.button-plus:active {
  color: #82b4d3;
}

.button-find {
  font-size: 21px;
  font-weight: 700;
}

.main-footer {
  background-color: #ffffff;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 1.23;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  text-align: center;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-copyright {
  font-size: 14px;
  font-weight:  700;
  line-height: 1.85;
  text-align: right;
}

.footer-copyright a {
  font-weight:  400;
  color: #000000;
}

.filter {
  background: #000000 url("../img/hotels_back.jpg") top center no-repeat;
  background-size: 100%;
  color: #ffffff;
}

.filter fieldset{
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
}

.filter-item input:disabled + label{
  color: #6a6a6a;
}

.button-show {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid currentColor;
}

.button-show:hover,
.button-show:focus {
  background-color: #ffffff;
  color: #000000;
}

.results p {
  font-weight: 700;
}

.results-button {
  padding: 0;
  font: inherit;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #81b3d2;
}

.results-button:hover,
.results-button:focus {
  color: #81b3d2;
}

.results-button:active {
  border: none;
  color: #000000;
}

.results-button-selected {
  border: none;
  color: #81b3d2;
}

.sort-button {
  background-color: transparent;
  border: none;
  color: #cacaca;
}

.sort-button:hover,
.sort-button:focus {
  color: #000000;
}

.sort-button:active,
.sort-button-selected {
  color: #81b3d2;
}
