@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container,
.container-no-padding {
  margin: 0 auto;
  width: 1200px;
}

.container {
  padding-left: 72px;
  padding-right: 72px;
}

.container.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}

.title-main {
  font-size: 21px;
  line-height: 1;
}

.title-secondary {
  font-size: 21px;
  line-height: 1.23;
}

.button-main {
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.button-main:hover,
.button-main:focus {
  background-color: #669ec0;
}

.button-main:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-secondary {
  color: #ffffff;
  background-color: #766357;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #604e43;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: #503e33;
}

.site-navigation,
.first-advantages-list,
.other-advantages-list,
.footer-social ul,
.filter ul,
.filter-results-list,
.sort-buttons,
.hotels-list {
  list-style: none;
}

.main-navigation {
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  line-height: 1.85;
  background-color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  min-height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main-header-logo {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 138px;
  height: 70px;
  z-index: 1;
}

.site-navigation li {
  width: 25%;
  margin: 0px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2){
  text-align: left;
}

.site-navigation li:nth-child(4),
.site-navigation li:nth-child(3){
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-right: 75px;
}

.site-navigation a {
  font-weight: 700;
  color: #000000;
}

.site-navigation li:not(.current-page) a:hover {
  color: #81b3d2;
}

.site-navigation li:not(.current-page) a:active{
  opacity: 0.3;
}

.current-page a{
  color: #766357;
}

.greetings {
  padding-top: 513px;
  background: #ffffff url("../img/big_picture.jpg") 0px -51px no-repeat;
  background-size: 1200px;
}

.advantages {
  padding-top: 56px;
  padding-bottom: 51px;
  text-align: center;
  background-color: #ffffff;
}

.advantages h2 {
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
}

.advantages p {
  margin: 0;
  padding: 0;
  padding-top: 31px;
}

.reasons-head {
  padding-top: 33px;
  font-size: 14px;
  line-height: 1.85;
}

.about-advantage {
  padding-left: 63px;
  padding-right: 72%;
  text-align: center;
  color: white;
  background: #81b3d2 url("../img/city_photo.jpg") right no-repeat;
  background-size: 800px 256px;
}

.about-advantage b {
  display: block;
  padding-left: 69px;
  padding-right: 81px;
  padding-top: 49px;
}

.about-advantage span {
  padding-top: 25px;
  padding-bottom: 21px;
  display: block;
}

.about-advantage p {
  margin: 0;
  padding: 0;
  padding-bottom: 56px;
}

.first-advantages-list {
  margin: 0;
  padding: 0;
  padding-left: 65px;
  padding-right: 62px;
  display: flex;
  justify-content: space-between;
}

.first-advantages-item {
  padding-top: 165px;
  padding-bottom: 78px;
  width: 272px;
  text-align: center;
}

.first-advantages-item b {
  margin-bottom: 20px;
}

.first-advantages-item p {
  margin: 0;
  padding: 0;
  padding-top: 21px;
}

.first-advantages-item:nth-child(1) {
  background-image: url("../img/icon_home.svg");
  background-repeat: no-repeat;
  background-position: 98px 64px;
  background-size: 75px 72px;
}

.first-advantages-item:nth-child(2) {
  background-image: url("../img/icon_food.svg");
  background-repeat: no-repeat;
  background-position: 93px 65px;
}

.first-advantages-item:nth-child(3) {
  background-image: url("../img/icon_gift.svg");
  background-repeat: no-repeat;
  background-position: 103px 60px;
}

.about-second-advantage {
  padding-left: 71%;
  text-align: center;
  color: white;
  background: #81b3d2 url("../img/canyon.jpg") left no-repeat;
  background-size: 800px 256px;
}

.about-second-advantage b {
  display: block;
  padding-right: 124px;
  padding-left: 73px;
  padding-top: 49px;
}

.about-second-advantage span {
  display: block;
  padding-top: 25px;
  padding-bottom: 21px;
  padding-right: 51px;
}

.about-second-advantage p {
  display: block;
  width: 334px;
  margin: 0;
  padding: 0;
  padding-right: 32px;
  padding-bottom: 56px;
}

.other-advantages {
  background-color: #efefef;
}

.other-advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.other-advantages-item {
  padding-top: 50px;
  padding-bottom: 51px;
  width: 261px;
  text-align: center;
}

.other-advantages-item b {
  display: block;
  padding-left: 53px;
  padding-right: 52px;
}

.other-advantages-item span {
  padding-top: 25px;
  padding-bottom: 21px;
}

.other-advantages-item p {
  padding: 0;
  margin: 0;
}

.other-advantages-item span {
  display: block;
}

.finder {
  padding-top: 32px;
}

.finder-header-wrapper {
  margin: 0;
  padding: 25px 311px 48px 311px;
}

.finder-header-wrapper h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.finder-header-wrapper p {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-right: 131px;
  width: 568px;
}

.open-form-button {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 568px;
  text-align: center;
}

.finder-hint {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.find-hotel-form {
  margin: 0 auto;
  width: 568px;
}

.find-form-item {
  font-size: 14px;
  line-height: 1.85;
  font-weight: 700;
}

.find-form-item input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.find-form-item input:hover {
  background-color: #ebebeb;
}

.find-form-item input:focus {
  background-color: #ffffff;
}

.button-minus,
.button-plus {
  font-weight: 700;
  color: #aaaaaa;
  background-color: #f2f2f2;
  border: none;
}

.button-minus:hover,
.button-minus:focus,
.button-plus:hover,
.button-plus:focus {
  color: #000000;
}

.button-minus:active,
.button-plus:active {
  color: #82b4d3;
}

.button-find {
  font-size: 21px;
  font-weight: 700;
}

.map {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 470px;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.main-footer {
  margin-top: auto;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 115px;
  text-align: center;
  background-color: rgba(255,255,255,.9);
}

.second-footer {
  margin-top: auto;
  background-color: #ffffff;
}

.second-footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-hashtag {
  margin-left: 60px;
  margin-right: 132px;
  padding-top: 11px;
  width: 136px;
  font-size: 21px;
  line-height: 1.23;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 124px;
  padding: 0;
  padding-top: 19px;
  width: 150px;
  text-align: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669fc1;
}

.social-button:active {
  background-color: #5497be;
}

.social-button:active path {
  fill: #88b6d2;
}

.footer-copyright {
  display: flex;
  margin-left: auto;
  margin-right: 29px;
  padding-top: 28px;
  width: 200px;
  font-size: 14px;
  line-height: 1.85;
  text-align: right;
}

.footer-copyright b {
  padding-top: 6px;
  padding-right: 8px;
  font-weight: 400;
}

.footer-copyright a {
  font-weight:  400;
  color: #000000;
}

.footer-copyright svg {
  width: 113px;
  height: 41px;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
  fill: #82b4d3;
}

.footer-copyright a:active path {
  fill: #c2c0c1;
}

.filter {
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: #86a3c3 url("../img/hotels_back.jpg") top center no-repeat;
  background-size: 1200px;
  color: #ffffff;
  min-height: 222px;
}

.filters-list {
  margin: 0;
  padding: 0;
  margin-right: 110px;
  padding-bottom: 28px;
  padding-top: 28px;
  width: 140px;
}

.filter-range {
  margin-left: auto;
  padding-top: 32px;
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  display: flex;
  align-content: center;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  display: inline-flex;
  align-items: center;
  width: 90px;
}

.price-controls .min-price {
  padding-left: 66px;
}

.price-controls .max-price {
  padding-left: 121px;
}

.price-controls input {
  margin: 0;
  padding-left: 1px;
  width: 50px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -7px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 9px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 30px;
  width: 137px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter legend {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
}

.filter-item input:disabled + label{
  color: #6a6a6a;
}

.button-show {
  margin-right: 90px;
  margin-left: 80px;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid currentColor;
}

.button-show:hover,
.button-show:focus {
  background-color: #ffffff;
  color: #000000;
}

.wrapper-filter-results-list {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 32px;
}

.wrapper-filter-results-list p {
  margin: 0;
  margin-left: 49px;
  padding-top: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.filter-results-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: 9px;
  padding-top: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.filter-results-item {
  margin-left: 30px;
}

.results-button {
  padding: 0;
  font: inherit;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;
}

.results-button:hover,
.results-button:focus {
  color: #81b3d2;
}

.results-button:active {
  border: none;
  color: #000000;
}

.results-button-selected {
  border: none;
  color: #81b3d2;
}

.sort-buttons {
  display: flex;
  margin: 0;
  margin-left: auto;
}
.sort-button {
  padding: 0;
  padding-left: 7px;
  padding-top: 6px;
  color: #cacaca;
  background-color: transparent;
  border: none;
}

.sort-button:hover,
.sort-button:focus {
  color: #000000;
}

.sort-button:active,
.sort-button-selected {
  color: #81b3d2;
}

.hotels-list {
  padding: 0;
  margin: 0;
}

.hotels-list-item {
  display: flex;
  padding-top: 26px;
  padding-bottom: 23px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image-wrapper {
  padding-left: 72px;
  padding-top: 3px;
  margin-right: 30px;
}

.info-hotel-wrapper {
  width: 260px;
}

.info-hotel-wrapper h3{
  margin: 0;
  padding-bottom: 8px;
}

.info-hotel-wrapper .hotel-type {
  padding-right: 35px;
}

.info-hotel-wrapper .hotels-buttons {
  padding-top: 17px;
}

.hotels-buttons .detail {
  padding: 5px 17px;
}

.hotels-buttons .book {
  padding: 5px 17px;
}

.rating-hotel-wrapper {
  padding-right: 72px;
  margin-left: auto;
}

.rating-hotel-wrapper .rating-star {
  display: flex;
  margin-bottom: 46px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.star4 {
  width: 86px;
  height: 17px;
  transform: translate(21px, 3px);
}

.star3 {
  width: 61px;
  height: 17px;
  transform: translate(46px, 3px);
}

.star2 {
  width: 39px;
  height: 17px;
  transform: translate(69px, 3px);
}

.rating-hotel-wrapper .rating {
  display: block;
  padding: 6px 14px 4px 16px;
  background-color: #f2f2f2;
}
